<article class="prose max-w-full dark:prose-invert">
  {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
  {{ if not .Params.hideGraph }}
  {{ if .Param "graphRootNodePID" | default false }}
  <script>
  const limitGraphRootNodeId = '{{ .Param "graphRootNodePID" }}';
  </script>
  {{ end }}

  <script type="module" crossorigin src="/graph.js"></script>
  <div class="relative">
    {{ if .Param "graphDescription" | default false }}
    <p>{{ .Param "graphDescription" }}</p>
    {{ end }}
    <div id="sigma-node-type-controls" class="absolute z-10 left-2">
      <div id="sigma-controls-list" class="text-left"></div>
    </div>
    <a href="/explore" class="p-1 absolute left-2 bottom-2 z-20">Click to explore&hellip;</a>
    <div id="sigma-container" class="w-full h-[40vh] m-0 p-0 bg-neutral-100 dark:bg-neutral-600"></div>
  </div>

  {{ end }}
  <section>{{ .Content | emojify }}</section>
</article>
